.panel {
  position: relative;
  max-width: 450px;
  width: 100%;
  height: calc(100% - 60px);
  display: flex;
  justify-content: space-between;

  transition: all .4s linear 0s;
  background-color: rgba(64, 135, 174, 0.33);
}