.Block {
  margin: 5px 5px 5px;
  padding: 5px;
  width: calc(100% - 10px);
  min-height: 30px;
  overflow-x: hidden;
  background: #1F1F1F;
  border: 2px solid #333333;
  font-family: Monaco, sans-serif;
  white-space: pre-wrap;
  transition: box-shadow 0.2s ease-in 0s;
}
.Block .blockContextMenu {
  width: 185px;
  background-color: #333333;
}
.Block .blockGeneral {
  display: flex;
  align-items: center;
  cursor: default;
}
.Block .blockTitle {
  display: flex;
  align-items: center;
  cursor: default;
  color: #BC5151;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-left: 2px solid transparent;
  font-size: 17px;
  text-indent: 2px;
  letter-spacing: 0.1em;
}
.Block .blockSubTitle {
  cursor: default;
  color: #448740;
  border-left: 2px solid transparent;
  letter-spacing: 0.005em;
  font-size: 14px;
}
.Block .blockText {
  cursor: default;
  color: #919191;
  border-left: 2px solid transparent;
  letter-spacing: 0.005em;
  font-size: 14px;
}
@keyframes demoExit {
  0% {
    background-color: #616161;
  }
  100% {
    background-color: #b6b6b6;
  }
}
.Block .saveNameBtn {
  margin: 3px 1px;
  padding: 2px 5px;
  background-color: #9c9c9c;
  border-radius: 2px;
  box-shadow: 1px 1px 5px black;
  animation: demoExit 1s ease-out 0s infinite alternate;
}
.Block .saveNameBtn:active {
  transform: scale(0.98);
  animation-play-state: paused;
}
.Block textarea {
  width: 100%;
  min-height: 20px;
  resize: none;
  overflow: hidden;
  border: #333333 solid 1px;
  background-color: #1F1F1F;
  color: #919191;
}
.Block form {
  width: 100%;
}
.Block form .inputTitle {
  padding: 0;
  width: 100%;
  min-height: 20px;
  height: 100%;
  resize: none;
  overflow: hidden;
  color: #BC5151;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 17px;
  text-indent: 2px;
  letter-spacing: 0.1em;
}
.Block form .inputTitle::placeholder {
  padding-left: 10px;
  display: flex;
  align-items: center;
  cursor: default;
  opacity: 0.2;
  color: #BC5151;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 17px;
  text-indent: 2px;
  letter-spacing: 0.1em;
}
.Block form .inputSubTitle {
  padding: 2px 0;
  width: 100%;
  min-height: 20px;
  height: 100%;
  resize: none;
  overflow: hidden;
  font-size: 14px;
  color: #448740;
  letter-spacing: 0.005em;
}
.Block form .inputSubTitle::placeholder {
  padding-left: 10px;
  cursor: default;
  opacity: 0.2;
  color: #448740;
  border-left: 2px solid transparent;
  letter-spacing: 0.005em;
  font-size: 14px;
}
.Block form .inputText {
  padding: 2px 0;
}
.Block form .inputText::placeholder {
  padding-left: 10px;
  cursor: default;
  opacity: 0.2;
  color: #919191;
  border-left: 2px solid transparent;
  letter-spacing: 0.005em;
  font-size: 14px;
}

.Block.true {
  border: 2px transparent solid;
  margin: 1px 5px 1px;
}

.Block.true.active {
  border: 2px transparent solid;
  margin: 1px 5px 1px;
}

.Block.active {
  border: #4f4f4f solid 2px;
  background: rgba(86, 41, 41, 0.08);
}

/*# sourceMappingURL=Block.css.map */
