.Block {
  margin: 5px 5px 5px;
  padding: 5px ;
  width: calc(100% - 10px);
  min-height: 30px;
  overflow-x: hidden;

  background: #1F1F1F;
  border: 2px solid #333333;

  font-family: Monaco, sans-serif;
  white-space: pre-wrap;

  transition: box-shadow .2s ease-in 0s;
  .blockContextMenu {
    width: 185px;
    background-color: #333333;
  }
  .blockGeneral {
    display: flex;
    align-items: center;
    cursor: default;

  }
  .blockTitle {
    display: flex;
    align-items: center;
    cursor: default;

    color: #BC5151;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-left: 2px solid transparent;

    font-size: 17px;
    text-indent: 2px;
    letter-spacing: 0.1em;

  }

  .blockSubTitle {
    //padding-left: 5px;
    cursor: default;

    color: #448740;
    border-left: 2px solid transparent;

    letter-spacing: 0.005em;
    font-size: 14px;

  }

  .blockText {
    //left: -2px;
    //padding-left: 3px;
    cursor: default;

    color: #919191;
    border-left: 2px solid transparent;

    letter-spacing: 0.005em;
    font-size: 14px;

  }
  @keyframes demoExit {
    0% {background-color: #616161;}
    100% {background-color: #b6b6b6;}
  }
  .saveNameBtn {
    margin: 3px 1px;
    padding: 2px 5px;
    background-color: #9c9c9c;
    border-radius: 2px;
    box-shadow: 1px 1px 5px rgb(0 0 0);
    animation: demoExit 1s ease-out 0s infinite alternate;

    &:active {
      transform: scale(0.98);
      animation-play-state: paused;
    }
  }

  textarea {
    //padding-left: 5px;
    width: 100%;
    min-height: 20px;
    resize: none;
    overflow: hidden;

    border: #333333 solid 1px;
    background-color: #1F1F1F;
    color: #919191;
  }
  form {
    width: 100%;
    .inputTitle {
      padding: 0;
      width: 100%;
      min-height: 20px;
      height: 100%;
      resize: none;
      overflow: hidden;

      color: #BC5151;
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

      font-size: 17px;
      text-indent: 2px;
      letter-spacing: 0.1em;
      &::placeholder {
        //left: -2px;
        padding-left: 10px;
        display: flex;
        align-items: center;
        cursor: default;
        opacity: .2;

        color: #BC5151;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

        font-size: 17px;
        text-indent: 2px;
        letter-spacing: 0.1em;
      }
    }
    .inputSubTitle {
      padding: 2px 0;
      width: 100%;
      min-height: 20px;
      height: 100%;
      resize: none;
      overflow: hidden;

      font-size: 14px;
      color: #448740;
      letter-spacing: 0.005em;

      &::placeholder {
        padding-left: 10px;
        cursor: default;
        opacity: .2;

        color: #448740;
        border-left: 2px solid transparent;

        letter-spacing: 0.005em;
        font-size: 14px;
      }
    }
    .inputText {
      padding: 2px 0;

      &::placeholder {
        padding-left: 10px;
        cursor: default;
        opacity: .2;

        color: #919191;
        border-left: 2px solid transparent;

        letter-spacing: 0.005em;
        font-size: 14px;

      }
    }
  }
}


.Block.true {
  border: 2px transparent solid;
}
.Block.true.active {
  border: 2px transparent solid;
}
.Block.active {
  border: #4f4f4f solid 2px;
  background: #56292938;
}

