.Main {
  padding-top: 30px;
  height: calc(100vh - 80px);
  width: calc(100% + 30px);
  overflow-x: hidden;
  margin: 5px -30px 5px 10px;
  transition: all .4s linear 0s;
  background-color: #2929299c;

  .mainWrapper {
    padding: 1px 0;
    margin-right: 40px;
    outline: #383838cf solid 1px;
    //box-shadow: 0px 0px 30px 3px #0000008a;

    background: rgb(31 31 31);
  }

  .mainTitle {
    display: block;
    position: fixed;
    width: calc(100% - 399px);
    top: 70px;
    background-color:#2f2f2f;
    padding: 6px 20px;
    text-align: center;
    //border: #383838cf solid 1px;
    box-shadow: 10px 0px 22px 2px #00000052;
    color: grey;
    transition: all .4s linear 0s;
  }
  .mainTitle.true {
    width: calc(100% - 19px);
    transition: all .4s linear 0s;
  }
  .menuNav {
    //display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3c3f41;
    color: #bebebe;

    span {
      display: block;
      padding: 5px 15px 5px 20px;
      cursor: pointer;
      width: 160px;
      &:hover {
        background-color: rgba(96, 135, 166, 0.82);
        color: white;
      }
    }
  }
}
.Main.true {
  margin-left: 390px;
  transition: all .4s linear 0s;
}