.Main {
  margin: 5px -30px 10px 10px;
  position: relative;
  height: calc(100vh - 70px);
  width: calc(100% + 30px);
  overflow-x: hidden;

  background-color: #2929299c;

  transition: all .2s linear 0s;

  .mainWrapper {
    margin-right: 40px;
    padding: 1px 0 100px 0;
    width: calc(100vw - 400px);
    min-width: 400px;
    min-height: calc(100vh - 111px);

    border: #383838cf solid 1px;
    background: rgb(31 31 31);

    transition: all .2s linear 0s;
    @media (max-width: 500px) {
      min-width: 300px;
    }
  }
  .mainWrapper.true {
    width: calc(100vw - 20px);

    transition: all .2s linear 0s;
  }
  .mainWrapper.active {
    border: rgba(134, 134, 134, 0.81) solid 1px;
  }

  .mainTitle {
    margin-bottom: 10px;
    padding: 5px 0 5px;
    width: calc(100vw - 400px);
    min-height: 30px;
    min-width: 400px;
    background: #ffffff24;
    color: #a1a1a1;
    //color: #07ff0070;

    text-align: center;
    font-family: Monaco, sans-serif;
    white-space: pre-wrap;

    transition: all .2s linear 0s;

    @media (max-width: 500px) {
      min-width: 300px;
    }
    @media (max-width: 390px) {
      top: 65px;
    }

  }
  .mainTitle.true {
    width: calc(100vw - 20px);

    transition: all .2s linear 0s;
  }

  @keyframes addBlockBtn {
    0% {transform: scale(1);background-color: grey;}
    50% {transform: scale(1.01);background-color: #9c9c9c;}
    100% {transform: scale(1);background-color: grey;}
  }
  .noBlockBtn {
    padding: 20px;
    margin: 40px auto;
    position: relative;
    width: 70px;
    height: 70px;
    right: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    box-shadow: 1px 1px 10px rgb(35 107 5 / 98%);
    color: #222222;
    background-color: grey;

    animation: addBlockBtn 1s ease-out infinite;
    transition: all 0.6s linear 0s;

    font-weight: bold;
    text-align: center;
    &:hover {
      color: #cccccc;
      background-color: #225924;

      transition: all 0.6s linear 0s;
    }
  }
}
.Main.true {
  margin-left: 390px;
  transition: all .2s linear 0s;
}