.header {
  margin: 0 5px 5px;
  height: 50px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-content: space-between;
  align-items: center;
  background: #333333;
  box-shadow: 3px 3px 8px rgb(23 23 23);
  border-radius: 0 0 10px 10px;
  grid-column: span 2;

  .logo {
    //display: inline-flex;
    justify-self: center;

    font-family: Aladin, sans-serif;
    font-size: 42px;
    color: #808080;
    background-color: transparent;
    text-shadow: 1px 1px 5px rgb(0 0 0);
  }
  .lk {
    position: relative;
    width: 40px;
    height: 40px;
    margin: 0 15px;

    cursor: pointer;
    box-shadow: 0px 0px 11px 3px #10101087;
    border-radius: 50%;

    img {
      width: 100%;
      height: auto;
    }

    .menu {
      position: absolute;
      z-index: 4;
      top: 45px;
      right: 0;
      .menuName {
        text-align: center;
        background-color: #520000c9;
        color: #d8d8d8c9;
        padding: 5px 15px;
      }
      .menuItem {
        padding: 5px 15px;
        width: 200px;
        text-align: center;
        background-color: #cfcfcf;
        cursor: pointer;
        &:hover {
          background-color: #737373;
        }
      }
      .menuItemSave {
        background-color: green;
        &:hover {
          background-color: #005900;
        }
      }
      input {
        padding: 0 10px;
        width: 100%;
        height: 30px;
        font-size: 16px;
        background-color: #cfcfcf;
      }
    }
  }
}
