.section {
  max-width: 75px;
  //height: 100%;
  //width: 100%;
  border-right: rgba(197, 197, 197, 0.25) solid 2px;

  .menuSection {
    //display: none;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3c3f41;
    color: #bebebe;

    span {
      display: block;
      padding: 5px 20px 5px 20px;
      cursor: pointer;
      &:hover {
        background-color: rgba(96, 135, 166, 0.82);
        color: white;
      }
    }
  }
}