.section {
  margin-right: -30px;
  max-height: calc(100% - 0px);
  padding-left: 10px;
  padding-right: 10px;
  overflow-y: auto;
  overflow-x: hidden;

  .menuSection {
    //display: none;
    position: fixed;
    width: 140px;
    z-index: 12;
    background-color: #3c3f41;
    color: #bebebe;

    span {
      display: block;
      padding: 5px 20px 5px 20px;
      cursor: pointer;
      &:hover {
        background-color: rgba(96, 135, 166, 0.82);
        color: white;
      }
    }
  }

  @keyframes right_click {
    0% {transform: scale(1);}
    25% {transform: scale(0.97);}
    50% {transform: scale(0.94);}
    75% {transform: scale(0.97);}
    100% {transform: scale(1);}
  }
  .noSectionItem {
    position: relative;

    svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      margin-top: 30px;
      fill: #52de59;
      animation: right_click 0.8s ease-out infinite;
    }
  }
}